/* line 7, ../scss/style.scss */
html {
  -webkit-text-size-adjust: 100%;
}

/* line 11, ../scss/style.scss */
h3 {
  color: #333333;
  text-align: center;
}

/* line 16, ../scss/style.scss */
h4 {
  color: #777777;
  text-align: center;
}

/* line 21, ../scss/style.scss */
#results {
  font-family: monospace;
  font-size: 1.25em;
}

/* line 27, ../scss/style.scss */
table td.center, table th.center {
  text-align: center;
}
/* line 30, ../scss/style.scss */
table td.right, table th.right {
  text-align: right;
}

/* line 35, ../scss/style.scss */
.table {
  margin: 0;
}
