/* line 7, ../scss/style.scss */
h3 {
  color: #333333;
  text-align: center;
}

/* line 12, ../scss/style.scss */
h4 {
  color: #777777;
  text-align: center;
}

/* line 17, ../scss/style.scss */
#results {
  font-family: monospace;
  font-size: 1.25em;
}

/* line 23, ../scss/style.scss */
table td.center, table th.center {
  text-align: center;
}
/* line 26, ../scss/style.scss */
table td.right, table th.right {
  text-align: right;
}

/* line 31, ../scss/style.scss */
.table {
  margin: 0;
}
